{
  "plugins": [
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 999,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
